<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjiiYnEBsvm25ZxyFH64uMKW7fT950qlU</string>
	<key>GCM_SENDER_ID</key>
	<string>144020953047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluterFirebase2324.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebae2324</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebae2324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144020953047:ios:22156316f6df50a1c8dd92</string>
</dict>
</plist>